NODE_ENV=production
PORT=8081
DATABASE=
# mongodb+srv://demodata:123@cluster0.p5xvkx8.mongodb.net/?retryWrites=true&w=majority
# mongodb+srv://abood:123@cluster0.iao7gnj.mongodb.net/?retryWrites=true&w=majority
# mongodb+srv://harshDeep:7k66jgsiXc3n7DJZ@cluster0.5oax8.mongodb.net/datingAustraliaDebug

JWT_SECRET=hfhefiefhiudhhiufrhgkjnvkjfchiurhgnvfko
JWT_EXPIRES_IN=90d
JWT_COOKIES_EXPIRES_IN=90d
SUPERADMINID=62a08118f923af7e9dad9748

SERVERKEY=AAAACEXIgN8:APA91bEkrS3G08E_gvc7PiH1aE52U9VnAPYvjksH8CcRQRO9-AWk46ZjsWnpg4Kyk6FUa6s4mhSoHyhvu5yYml1L_kEzNDPBDdW4ecRcR0CzgjJ7GkKBZq3TLHzttz1GgkVcGfcQuWpN

# ec2.us-west-2.amazonaws.com
STORAGE_END_POINT=arn:aws:s3:us-west-2:753604533438:accesspoint/nectardating
# s3://arn:aws:s3:us-west-2:753604533438:accesspoint/nectardating
# ec2.us-west-2.amazonaws.com
# https://sgp1.digitaloceanspaces.com
BUCKET_NAME=your_bucket_name
REGION=your_region
ACCESS_KEY=your_access_key
SPACES_SECRET=your_spaces_secret

NODEMAILER_MAIL=your_email@gmail.com
NODEMAILER_PASS=your_email_password

ACCOUNT_SID=your_twilio_account_sid
AUTH_TOKEN=your_twilio_auth_token
TWILIO_NUMBER=your_twilio_number

APP_ID=your_agora_app_id

APP_CERTIFICATE=your_agora_app_certificate

# STRIPE_KEY=your_stripe_test_key_1
STRIPE_KEY=your_stripe_test_key_2
